body {
    background-color: #303030;

    margin: 0;
}

header {
    background-color: #212121;
    line-height: 96px;
}

header h1 {
    color: #e0e0e0;
    font-size: 24px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0 96px;
}

input, textarea, select {
    display: block;
    margin-top: 20px;
    padding: 5px 10px;

    border: 1px solid #fff;

    background-color: #303030;

    color: #fff;
}

input, select {
    height: 30px;
    min-width: 300px;
}

textarea {
    min-width: 600px;
    min-height: 280px;
}

button {
    margin-top: 30px;
}

.error {
    color: red;
}

.tours {
    position: absolute;
}

.tour {
    display: inline-block;

    color: #757575;
    font-size: 16px;
    font-weight: bold;

    border-left: 1px solid #212121;

    padding-top: 45px;
    padding-left: 30px;
}

.tour.dark {
    background-color: #2c2c2c;
}

.tour.light {
    background-color: #303030;
}

.tour.dark:last-child,
.tour.light:last-child {
    border-right: 1px solid #212121;
}